# model ID stránek starých tisků
import.page.modelId=model:oldprintpage
import.requiredDatastreamId=NDK_ARCHIVAL, NDK_USER
import.text_ocr.file.suffix=.txt
import.text_ocr.file.charset=UTF-8
import.alto.file.suffix=.xml

# (2.0) ID profilu externího procesu pro vytvření archivní kopie.
import.ndk_archival.processor=kdu_ac
# (2.0) ID profilu externího procesu pro vytvoření uživatelské kopie.
import.ndk_user.processor=kdu_uc

##Nastaveni konverze JP2000, KAKADU

KDU_HOME=/usr/kakadu
KDU_EXEC=${KDU_HOME}/bin/kdu_compress
KDU_LIBPATH=${KDU_HOME}/bin

## Ukázka nastavení pro archivní kopii dle NDK.
# (2.0) Plná cesta spustitelného externího procesu.
processor.kdu_ac.exec=${KDU_EXEC}
# (2.0) Plná cesta k adresáři s knihovnami kdu. Nepovinné, pokud jsou knihovny dostupné pro tomcat.
processor.kdu_ac.environment.LD_LIBRARY_PATH=${KDU_LIBPATH}
# (2.0) Typ procesu.
processor.kdu_ac.type=kdu_compress
# (2.0) Parametry externího procesu.
processor.kdu_ac.arg=-quiet
processor.kdu_ac.arg=Cblk\={64\,64}
processor.kdu_ac.arg=Corder\=RPCL
processor.kdu_ac.arg=Stiles\={4096\,4096}
processor.kdu_ac.arg=Cprecincts\={256\,256}\,{256\,256}\,{128\,128}
processor.kdu_ac.arg=ORGtparts\=R
processor.kdu_ac.arg=Creversible\=no
processor.kdu_ac.arg=Clayers\=1
processor.kdu_ac.arg=Clevels\=5
processor.kdu_ac.arg=Cmodes\={BYPASS}
processor.kdu_ac.arg=Cuse_sop\=yes
processor.kdu_ac.arg=Cuse_eph\=yes

## Podobně se konfiguruje profil pro uživatelskou kopii.
processor.kdu_uc.exec=${KDU_EXEC}
# (2.0) Plná cesta k adresáři s knihovnami kdu. Nepovinné, pokud jsou knihovny dostupné pro tomcat.
processor.kdu_uc.environment.LD_LIBRARY_PATH=${KDU_LIBPATH}
# (2.0) Typ procesu.
processor.kdu_uc.type=kdu_compress
# (2.0) Parametry externího procesu.
processor.kdu_uc.arg=-quiet
processor.kdu_uc.arg=Cblk\={64\,64}
processor.kdu_uc.arg=Corder\=RPCL
processor.kdu_uc.arg=Stiles\={4096\,4096}
processor.kdu_uc.arg=Cprecincts\={256\,256}\,{256\,256}\,{128\,128}
processor.kdu_uc.arg=ORGtparts\=R
processor.kdu_uc.arg=Creversible\=no
processor.kdu_uc.arg=Clayers\=1
processor.kdu_uc.arg=Clevels\=5
processor.kdu_uc.arg=Cmodes\={BYPASS}
processor.kdu_uc.arg=Cuse_sop\=yes
processor.kdu_uc.arg=Cuse_eph\=yes

## Bibliographic metadata catalogs
# lists catalog IDs to include in configuration
catalogs=aleph_mzk01, aleph_mzk03

# Aleph MZK, base mzk01
catalog.aleph_mzk01.url=http://aleph.mzk.cz/X?base=mzk01
catalog.aleph_mzk01.name=Aleph MZK01
catalog.aleph_mzk01.type=AlephXServer

# Aleph MZK, base mzk03
catalog.aleph_mzk03.url=http://aleph.mzk.cz/X?base=mzk03
catalog.aleph_mzk03.name=Aleph MZK03
catalog.aleph_mzk03.type=AlephXServer


## Import options

# Comma separated list of datastream IDs that are required on import.
import.requiredDatastreamId=NDK_ARCHIVAL, NDK_USER

## URN:NBN resolvers

# Comma separated list of resolver profiles.
urnnbn.resolvers=test
# The registrar ID.
urnnbn.resolver.test.registrar=mzk
# The optional archivar ID.
#urnnbn.resolver.knav.archiver=
urnnbn.resolver.test.title=KNAV Test
# The resolver service URL.
urnnbn.resolver.test.url=https://resolver-test.nkp.cz/api/v3
# The resolver service user name.
urnnbn.resolver.test.user=MZK_test1
# The resolver service password.
urnnbn.resolver.test.passwd=ArAu5du
